* {
  padding: 0px;
  margin: 0px;
}

.banner-card {
  background-color: white;
  width: 100vw;
  border: 0px;
}

.banner-img {
  height: 70vh;
  width: 100%;
}

.banner-title {
  /* color: blue; */
  position: absolute;
  top: 68vh;
  color: white;
  left: 5vw;
  right: 5vw;
}

.banner-text {
  /* color: blue; */
  position: absolute;
  top: 72vh;
  color: white;
  left: 5vw;
  right: 5vw;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.movie-card {
  background-color: white;
  width: 40vh;
  margin: 1.5rem;
  border: 0px;
}

.movie-img {
  /* width: 20vh; */
  height: 40vh;
  opacity: 0.9;
}

.movie-title {
  color: white;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  /* z-index: 1; */
}

.button-wrapper {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  z-index: 2;
}
.movie-btn {
  position: absolute;
  top: 85%;
}
.spinner {
  height: 5rem;
  width: 5rem;
  position: absolute;
  left: 48%;
  /* padding: 5rem; */
  margin-bottom: 20rem !important;
  /* display: flex; */
  /* justify-content: center; */
}
.addSpace {
  height: 5rem;
}
.pagination {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .banner-text {
    display: none;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .navbar > h1 {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
}
/* .tableContainer{
  display: flex;
  justify-content: space-evenly;
} */
.favouritesContainer {
  /* margin-top: 2rem; */
  margin-left: 1rem;
}

.alert-box {
  /* z-index: -1; */
  opacity: 0.8;
  width: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  height: 4rem;
  padding: 2rem;
  /* background-color: brown; */
  background-color: antiquewhite;
  border: 2px solid rgb(195, 63, 63);
  color: rgb(195, 63, 63);
  display: none;
  border-radius: 1rem;
}
.inputsContainer {
  display: flex;
}
.inputsContainer > * {
  margin-right: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}
