* {
  padding: 0px;
  margin: 0px;
}

.banner-card {
  background-color: white;
  width: 100vw;
}

.banner-img {
  height: 70vh;
  width: 100%;
}

.banner-title {
  /* color: blue; */
  position: absolute;
  top: 68vh;
  color: white;
  left: 5vw;
  right: 5vw;
}

.banner-text {
  /* color: blue; */
  position: absolute;
  top: 72vh;
  color: white;
  left: 5vw;
  right: 5vw;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.movie-card {
  background-color: white;
  width: 40vh;
  margin: 1.5rem;
}

.movie-img {
  /* width: 20vh; */
  height: 40vh;
}

.movie-title {
  color: white;
  position: absolute;
  top: 1rem;
}

.button-wrapper{
  /* width: 100%; */
  display: flex;
  justify-content: center;
}
